.event__now__card{
    width: 230px;
    cursor: pointer;
    flex: 0 0 auto;
    display: inline-block;
    
}

.event__now__img{
    object-fit: cover;
    border-radius: 30px;
    
}

.now__card__overlay{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
}

.event__now__list::-webkit-scrollbar {
    display: none;
}
